*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif,sans-serif;
}
#container{
    height:100vh;

    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5 ,#23d5ab);
    background-size: 400% 400%;
    animation: change 8s ease-in-out infinite;

}
h1{
    
 
    font-weight: 200;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 5px solid rgb(255, 255, 255, .5);
    border-radius: 0.8rem;
    padding: 5rem ;
  
}
    
ul{
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}


a{
    font-weight: 200;
    
    
    text-decoration: none;
    border: 5px solid  rgb(255, 255, 255, .5);
    border-radius: 1rem;
    background-color: transparent;
    padding: 1rem ;
    margin-right: 2rem;
}

a:hover{

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5 ,#23d5ab);
    background-size: 400% 400%;
    animation: change 4s ease-in-out infinite;
    
}

p{
    font-size: 2rem;
    color: white;
}


section{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   


}
footer{
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    

}

@keyframes change{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}